/*  Default Code Adjusted */
/*  Logo Spinner CSS  */
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* Media Querry */
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.App {
  text-align: center;
  background-color:#a7a7b1;
  overflow: hidden;
}
.App-header {
  background-color: #3d3e42;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/*       CUSTOM STYLES          */
/*       CUSTOM STYLES          */
/*       CUSTOM STYLES          */
/*       CUSTOM STYLES          */

.Home {
 padding: 5% 10%;
 height:80vh;
 display:flex;
 background-color: rgb(231, 231, 231);
 background-image:url('./Images/port.jpg');
 background-repeat:no-repeat;
 background-size:cover;
 background-position:center;
 background-attachment:fixed;
 color:white;
}

.Hello{
  font-family: 'Roboto Slab', serif;
}
.nav {
  width:100%;
  position:fixed;
  background-color:#3d3c3cbb;
  height:6vh;
  z-index: 999;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
}

.Me {
  height: 300px;
  margin: 0 10%;
  border-radius: 50%;
  justify-content: center;
  box-shadow: 10px 10px #3a3939a2;
}

 /* Project Styles */
.Proj-Div {
  display: flex;
  padding: 5% auto;
 }
 .Flex{
   height: 100vh;
   width:100%;
   display:flex;
   justify-content: center;
   flex-wrap: wrap;
 }
 .Proj {
  padding: 1% 0;
  margin: 1% 1%;
  width: 30%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 3px solid grey;
  background-color: rgba(61, 60, 60, 0.726);
 }
 .PROJ{
   height:30vh;
   width: 95%;
   margin:auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
background-color: #504e4ec5;
 }

 #JrpButton{
   color: #c2bdbd;
   background-color: #525358;
   padding: 1% 1%;
 }

 /* Project Information */
.ProjI{
  padding:0 5%;
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
/* Project Information Header */
.ProjIH{
width:100%;
margin: 0 0 1% 0;
}
 .ProjB {
   padding: 1% 0;
  margin: 0% 10%;
  width: 80%;
  display:flex;
  justify-content: space-around;
  border-bottom: 3px solid grey;
}

.ProjT{
  padding: 1% 20%;
  border-radius:50%;
  background-color: rgb(61, 61, 61);
  color:white;
}

.Pix{
  height: 300px;
  margin: -4% 0 0 0;
  justify-content: center;
}

.Project-Button{
  color:Black;
  background-color: rgb(65, 64, 64);
}

.Proj-Buttons{
  width:100%;
  display: flex;
  justify-content: space-between;
}
/* P - End */



/* .Sp{
  
} */



.Highlight{
  text-decoration: underline;
  background: chartreuse;
}


.links{
  width:100%;
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  align-items:center; 
}


a{
  color:rgb(255, 255, 255);
  font-size: 1.2rem;
  letter-spacing:2px;
  text-decoration: none;
}


.banner{
  padding-top: 5%;
  color:rgb(0, 0, 0);
  font-size:3rem;
}


/*  Skills Styles */


#Software{
  color:black;
  font-size: 2rem;
  letter-spacing:2px;
  text-decoration: none;
}


#Front-End{
  color:black;
  font-size: 2rem;
  letter-spacing:2px;
  text-decoration: none;
}


#Back-End{
  color:black;
  font-size: 2rem;
  letter-spacing:2px;
  text-decoration: none;
}


#Audio{
  color:black;
  font-size: 2rem;
  letter-spacing:2px;
  text-decoration: none;
}


#Hardware{
  color:black;
  font-size: 2rem;
  letter-spacing:2px;
  text-decoration: none;
}


.side-bar {
  height: 20% !important; 
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  border-radius: 0;
  border-color: rgba(61, 63, 62, 0.693);
  background-color: rgba(255, 255, 255, 0.705);
  transition: 0.8s ease;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}

.toggle-menu {
  height: 100px;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 9rem;
  width: 20px;
  position: absolute;
  outline: none;
  z-index: 1;
  background-color: rgba(71, 75, 73, 0.693);
  border-color: rgba(45, 49, 47, 0.693);
  border-left: 0;
  position: relative;
  box-sizing: border-box;
}

.Side-Button{
  color:Black;
  background-color: rgb(65, 64, 64);
  margin: 5% 15%;
  padding:auto;
  width:70%;
  height: 5vh;;
}


.Skill-Div {
  width:100%;
  display:flex;
  background-color: rgb(231, 231, 231);
  box-sizing: border-box;
  height: 90vh;
  background-color: rgb(231, 231, 231);
  background-image:url('./Images/port.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
 }


.S-Info{
  max-height: 100vh;
  margin:0 10px;
  padding:0 0 0 10%;
  box-sizing: border-box;
  overflow-y: scroll;
}


.Sdiv{
  margin:4% 20% 0% 0;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  background-color: rgba(245, 245, 245, 0.884);
  padding: 3% 2%;
}
.Sdiv p:hover{
  border-bottom: 1px solid rgba(131, 128, 128, 0.733);
  background-color: rgba(182, 185, 182, 0.884);
}

.Sm{
  height: 80hv;
}

#asd{
  color:rgb(214, 213, 213);
}
#sasd{
  color:rgb(141, 145, 153);
}

.BasePlate{
  border: black;
  background-color: rgba(105, 105, 105, 0.788);
  border-radius: 5%;
  padding: 3% 5%;
  width:60%;
  margin:0 0 20% 0;
  height: 30vh;
}

.Base{
  width:100%;
}

/* .Basebutt{
  color:blue;
  background-color: #3d3e42;
  width: auto;
  padding:10%
} */

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: rgb(185, 185, 185);
  background-color: #7d7d7ec4;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(48, 46, 46);
}

.button:hover {background-color: #2e2d309f}

.button:active {
  background-color: #737973d7;
  box-shadow: 0 5px rgb(78, 78, 78);
  transform: translateY(4px);
}


.BasementFloor {
  padding: 5% 3%;
  height:100vh;
  display:flex;
  flex-direction: column;
  background-color: rgb(231, 231, 231);
  background-image:url('./Images/studi.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  background-attachment:fixed;
  color:white;
 }

.BannerB{
border: #3d3e42;
width: 100%;
background-color: #2c2b2b;
color: #8d948d;
padding: 10% 0;
}

.Down{
  width: 100%;
  display: flex;
  justify-content: center;
}

#Basement{
  padding: 0 50%;
  width: auto;
  /* background-color: #000000; */
}
 /*   _____--------_____------ >>>>       MAIN SCROLLING BAR ON SKILLS PAGE HIDDEN ON INDEX.CSS       <<<<_____--------_____------ */